#MainPic{
    background-image: url("../../images/MainPic.png");
    background-repeat: no-repeat;
    background-size: cover;
background-position-x: right;

    background-color: rgba(0, 0, 0, 0.842);
    background-blend-mode: multiply;
    
height: 70vh;
}
@media not all and (min-width: 768px) {
    #MainPic {
        height: 50vh;
    }
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 87px;
}